In [11]:
import pandas as pd

In [12]:
df = pd.read_csv("Data/sentiment-analysis.csv",sep=', ')
df

C:\Users\Administrator\AppData\Local\Temp\ipykernel_6028\3194350461.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv("Data/sentiment-analysis.csv",sep=', ')

,"""Text",Sentiment,Source,Date/Time,User ID,Location,"Confidence Score"""
0,"""""""I love this product!""""",Positive,Twitter,2023-06-15 09:23:14,@user123,New York,"0.85"""
1,"""""""The service was terrible.""""",Negative,Yelp Reviews,2023-06-15 11:45:32,user456,Los Angeles,"0.65"""
2,"""""""This movie is amazing!""""",Positive,IMDb,2023-06-15 14:10:22,moviefan789,London,"0.92"""
3,"""""""I'm so disappointed with their customer sup...",Negative,Online Forum,2023-06-15 17:35:11,forumuser1,Toronto,"0.78"""
4,"""""""Just had the best meal of my life!""""",Positive,TripAdvisor,2023-06-16 08:50:59,foodie22,Paris,"0.88"""
...,...,...,...,...,...,...,...
91,"""""""Just had the most amazing vacation! I can't...",Positive,TripAdvisor,2023-07-02 18:01:23,travelenthusiast1,Sydney,"0.93"""
92,"""""""The food at this restaurant was awful. Neve...",Negative,Zomato,2023-07-02 20:45:37,foodlover123,Mumbai,"0.55"""
93,"""""""I can't stop listening to this song. It's m...",Positive,Spotify,2023-07-03 09:17:52,musiclover789,Berlin,"0.91"""
94,"""""""Their website is so confusing and poorly de...",Negative,Website Review,2023-07-03 11:59:18,user789,Toronto,"0.68"""
95,"""""""I had an incredible experience at the theme...",Positive,Trip Report,2023-07-03 14:40:05,thrillseeker1,Orlando,"0.89"""

In [13]:
df.isnull().sum()

"Text                0
Sentiment            0
Source               0
Date/Time            0
User ID              0
Location             0
Confidence Score"    0
dtype: int64

In [14]:
df = df.copy()
dups = df[df.duplicated() == True]
dups

,"""Text",Sentiment,Source,Date/Time,User ID,Location,"Confidence Score"""
75,"""""""The hotel staff were rude and unprofessiona...",Negative,Hotel Review,2023-07-17 08:50:13,traveler789,Paris,"0.55"""
76,"""""""The food at this restaurant was mediocre. N...",Negative,Zomato,2023-07-17 11:32:59,foodlover2468,Mumbai,"0.65"""
77,"""""""This song always puts me in a nostalgic moo...",Positive,Spotify,2023-07-17 14:20:05,nostalgiacat123,Berlin,"0.88"""
78,"""""""The website loading speed is frustratingly ...",Negative,Website Review,2023-07-17 17:15:22,user12345,Toronto,"0.62"""
79,"""""""I love this product!""""",Positive,Twitter,2023-06-15 09:23:14,@user123,New York,"0.85"""
80,"""""""The service was terrible.""""",Negative,Yelp Reviews,2023-06-15 11:45:32,user456,Los Angeles,"0.65"""
81,"""""""This movie is amazing!""""",Positive,IMDb,2023-06-15 14:10:22,moviefan789,London,"0.92"""
82,"""""""I'm so disappointed with their customer sup...",Negative,Online Forum,2023-06-15 17:35:11,forumuser1,Toronto,"0.78"""
83,"""""""Just had the best meal of my life!""""",Positive,TripAdvisor,2023-06-16 08:50:59,foodie22,Paris,"0.88"""
84,"""""""The quality of this product is subpar.""""",Negative,Amazon Reviews,2023-06-16 10:15:27,shopper123,San Francisco,"0.72"""
85,"""""""I can't stop listening to this song. It's i...",Positive,Spotify,2023-06-16 13:40:18,musiclover456,Berlin,"0.91"""
86,"""""""Their website is so user-friendly. Love it!""""",Positive,Website Testimonial,2023-06-16 16:05:36,testimonialuser1,Sydney,"0.87"""
87,"""""""I loved the movie! It was fantastic!""""",Positive,IMDb,2023-07-02 09:12:34,user123,New York,"0.92"""
88,"""""""The customer service was terrible.""""",Negative,Yelp Reviews,2023-07-02 10:45:21,user456,Los Angeles,"0.65"""
89,"""""""This book made me feel inspired. Highly rec...",Positive,Goodreads,2023-07-02 12:34:56,bookworm789,London,"0.88"""
90,"""""""I'm extremely disappointed with their produ...",Negative,Online Store,2023-07-02 15:21:43,shopper789,San Francisco,"0.72"""
91,"""""""Just had the most amazing vacation! I can't...",Positive,TripAdvisor,2023-07-02 18:01:23,travelenthusiast1,Sydney,"0.93"""
92,"""""""The food at this restaurant was awful. Neve...",Negative,Zomato,2023-07-02 20:45:37,foodlover123,Mumbai,"0.55"""
93,"""""""I can't stop listening to this song. It's m...",Positive,Spotify,2023-07-03 09:17:52,musiclover789,Berlin,"0.91"""
94,"""""""Their website is so confusing and poorly de...",Negative,Website Review,2023-07-03 11:59:18,user789,Toronto,"0.68"""
95,"""""""I had an incredible experience at the theme...",Positive,Trip Report,2023-07-03 14:40:05,thrillseeker1,Orlando,"0.89"""

In [15]:
df.loc[0]

"Text                """I love this product!""
Sentiment                             Positive
Source                                 Twitter
Date/Time                  2023-06-15 09:23:14
User ID                               @user123
Location                              New York
Confidence Score"                        0.85"
Name: 0, dtype: object

In [16]:
df = df.drop_duplicates()

In [17]:
df[df.duplicated() == True]

Empty DataFrame
Columns: ["Text, Sentiment, Source, Date/Time, User ID, Location, Confidence Score"]
Index: []

In [18]:
df.nunique()

"Text                75
Sentiment             2
Source               27
Date/Time            75
User ID              73
Location             11
Confidence Score"    25
dtype: int64

In the data warehouse, sentiment, source, and location should be normalized.

In [19]:
df.Source.unique()

array(['Twitter', 'Yelp Reviews', 'IMDb', 'Online Forum', 'TripAdvisor',
       'Amazon Reviews', 'Spotify', 'Website Testimonial', 'Goodreads',
       'Online Store', 'Zomato', 'Website Review', 'Trip Report',
       'Event Review', 'Online Chat', 'Airline Review',
       'Theme Park Review', 'Music Review', 'Retail Store',
       'Online Helpdesk', 'Gaming Forum', 'Travel Website',
       'Hotel Review', 'Food Blog', 'TV Show Review', 'Art Review',
       'Travel Blog'], dtype=object)

In [20]:
df.Location.unique()

array(['New York', 'Los Angeles', 'London', 'Toronto', 'Paris',
       'San Francisco', 'Berlin', 'Sydney', 'Mumbai', 'Orlando',
       'Chicago'], dtype=object)

In [21]:
df.loc[:,'"Text'] = df['"Text'].str.replace(r'\"', '', regex=True)
df.loc[:,'Confidence Score"'] = df['Confidence Score"'].str.replace(r'\"', '', regex=True)
df.loc[:,'User ID'] = df['User ID'].str.replace(r'@', '', regex=True)

In [22]:
df.rename(columns={'"Text': 'Text', 'Confidence Score"': 'Confidence Score'}, inplace=True)

In [23]:
df

,Text,Sentiment,Source,Date/Time,User ID,Location,Confidence Score
0,I love this product!,Positive,Twitter,2023-06-15 09:23:14,user123,New York,0.85
1,The service was terrible.,Negative,Yelp Reviews,2023-06-15 11:45:32,user456,Los Angeles,0.65
2,This movie is amazing!,Positive,IMDb,2023-06-15 14:10:22,moviefan789,London,0.92
3,I'm so disappointed with their customer support.,Negative,Online Forum,2023-06-15 17:35:11,forumuser1,Toronto,0.78
4,Just had the best meal of my life!,Positive,TripAdvisor,2023-06-16 08:50:59,foodie22,Paris,0.88
...,...,...,...,...,...,...,...
70,The ride on this cruise ship was an unforgetta...,Positive,Travel Blog,2023-07-16 09:12:54,travelenthusiast2,Sydney,0.95
71,The product I received was of poor quality. It...,Negative,Online Store,2023-07-16 11:45:32,shopper567,Los Angeles,0.61
72,This book kept me hooked from start to finish....,Positive,Goodreads,2023-07-16 14:23:18,bookworm7890,London,0.90
73,The customer service at this store is outstand...,Positive,Retail Store,2023-07-16 17:05:46,happyshopper1,New York,0.92
74,I had a frustrating experience with their tech...,Negative,Online Helpdesk,2023-07-16 19:40:27,user98765,San Francisco,0.67

In [24]:
df['User ID'].unique()

array(['user123', 'user456', 'moviefan789', 'forumuser1', 'foodie22',
       'shopper123', 'musiclover456', 'testimonialuser1', 'bookworm789',
       'shopper789', 'travelenthusiast1', 'foodlover123', 'musiclover789',
       'user789', 'thrillseeker1', 'buyer123', 'musicfan456', 'user1234',
       'cinephile789', 'shopper456', 'booklover123', 'buyer789',
       'traveler456', 'traveladdict1', 'foodie789', 'gymrat123',
       'user987', 'thrillseeker2', 'customer123', 'musiclover987',
       'user7890', 'foodie123', 'shopper246', 'bookworm567',
       'shopper7890', 'user9876', 'musiclover7890', 'foodcritic123',
       'playlistlover456', 'user24680', 'thrillseeker789', 'buyer7890',
       'musicfan567', 'user123456', 'foodie246', 'moviegoer789',
       'gamer123', 'traveler246', 'bookworm246', 'audiophile789',
       'testimonialuser2', 'shopper4567', 'musiclover1234', 'user98765',
       'traveler789', 'foodlover2468', 'nostalgiacat123', 'user12345',
       'foodlover246', 'tvfan123', 'musicenthusiast1', 'user2468',
       'thrillseeker3', 'buyer1234', 'artlover123', 'foodcritic246',
       'relaxmusiclover', 'happyuser123', 'travelenthusiast2',
       'shopper567', 'bookworm7890', 'happyshopper1'], dtype=object)

In [25]:
df[df['User ID'] == '@user123']

Empty DataFrame
Columns: [Text, Sentiment, Source, Date/Time, User ID, Location, Confidence Score]
Index: []

In [26]:
df[df['User ID'] == 'user123']

,Text,Sentiment,Source,Date/Time,User ID,Location,Confidence Score
0,I love this product!,Positive,Twitter,2023-06-15 09:23:14,user123,New York,0.85
8,I loved the movie! It was fantastic!,Positive,IMDb,2023-07-02 09:12:34,user123,New York,0.92

In [28]:
df.dtypes

Text                object
Sentiment           object
Source              object
Date/Time           object
User ID             object
Location            object
Confidence Score    object
dtype: object

In [29]:
df['Date/Time'] = pd.to_datetime(df['Date/Time'])

In [30]:
df.dtypes

Text                        object
Sentiment                   object
Source                      object
Date/Time           datetime64[ns]
User ID                     object
Location                    object
Confidence Score            object
dtype: object

In [31]:
df['Confidence Score'] = df['Confidence Score'].astype(dtype='double')

In [32]:
df.dtypes

Text                        object
Sentiment                   object
Source                      object
Date/Time           datetime64[ns]
User ID                     object
Location                    object
Confidence Score           float64
dtype: object